@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/styles.css" />
}

<p>
    <span class="js">JavaScript</span> Is <span class="typed-text"></span>
    <span class="cursor">&nbsp;</span>
</p>

@section Scripts {
    <script src="~/js/index.js"></script>
}
