@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
        padding-top: 250px;
        padding-left: 270px;
    }
    
</style>

<p>
    <span class="js">Home for </span> Programmers in <span class="typed-text"></span>
    <span class="cursor">&nbsp;</span>
</p>
